*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
    /* 1rem = 10px */
    font-family: 'Noto Sans', sans-serif;
    background: #F3E0EC;
}

a {
    color: black;
}

.header__main {
    width: 100%;
}

.header__div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem;
    align-items: center;
    border-bottom: 0.1rem solid black;
    position: fixed;
    background: #CA9CE1;
}

.header__div-h1 {
    font-size: 4rem;
}

.header__div-nav {
    display: flex;
    gap: 4rem;
    font-size: 2rem;
    
}

.header__a {
    text-decoration: none;
}

.header__div-p {
    color: #685F74;
}

.header__div-p:hover {
    text-decoration: underline;
}

.header__img {
    width: 100%;
}

.main__main {
    width: 100%;
    padding: 2rem;
}

.main__div-info {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 1rem;
}

.main__div-info2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.main__div-info3 {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding-bottom: 1.5rem;
}

.main__div-infoh2 {
    font-size: 3rem;
    padding-bottom: 0.4rem;
    width: 100%;
    padding-top: 1.5rem;
    text-align: center;
}

.main__div-infop {
    font-size: 1.5rem;
    max-width: 75%;
}

.footer__main {
    width: 100%;
    height: 20rem;
    background: rgba(56, 56, 56);
    padding: 2rem;
}

.footer__main-div {}

.footer__div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer__div-h2 {
    font-size: 3rem;
    color: white;
    padding-bottom: 0.4rem;
}

.footer__a {
    color: white;
}

.footer__div-p {
    font-size: 1.5rem;
    color: white;
    padding-top: 0.2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.footer__icons {
    height: 2rem;
    width: 2rem;
    align-items: center;
}